/*!   main    */

.section-1 {
  background-color: var(--background-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #fff;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: var(--primary-font);
  padding: 2rem;
}

.hero {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.hero-2 {
  padding: 2rem 2rem 0 2rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-2 > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section-2 p {
  font-size: 1rem;
}
.section-2 .img-about {
  position: relative;
}
.section-2 .img-about #chef-image {
  max-height: 500px;
  padding-top: 0.6rem;
  border-top-left-radius: 50%;
  position: relative;
  z-index: 10;
}

.rounded-text {
  animation: myAnimation 4s linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section-2 .about-us {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-right: 1.5rem;
}
.about-content {
  display: flex;
  gap: 1rem;
}
.about-content > div {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.6rem;
  border-radius: 6px;
  background-color: rgb(236, 237, 241);
}
.about-logo-conatiner {
  background-color: rgb(87, 112, 112);
  border-radius: 50%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-logo-conatiner img {
  max-width: 100%;
  object-fit: cover;
}

.about-us h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

/* media quaries */

@media (max-width: 1150px) {
  .section-2 > div:nth-child(1) {
    align-items: center;
  }

  .section-2 .img-about #chef-image {
    max-height: 480px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .rounded-text {
    max-width: 140px;
  }
  .section-2 .about-us {
    gap: 0.5rem;
  }

  .about-us h3 {
    font-size: 2rem;
  }
  .about-us h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .section-2 {
    background-color: rgb(209, 189, 162);
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .section-2 > div.about-us {
    align-items: center;
    padding: 0 2rem;
  }

  .section-2 .img-about > img {
    max-height: 480px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .section-2 .about-us {
    gap: 0.5rem;
  }

  .about-us h3 {
    font-size: 2rem;
  }
  .about-us h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .section-1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 520px) {
  .section-2 .about-content {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
}

@keyframes myAnimation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
